header{
    width: 90%;
    height: 10%;
    /* padding: 32px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

nav{
    display: flex;
    gap: 32px;
    align-items: center;
}


nav ul{
    display: flex;
    gap: 16px;
}

nav a[href="index.html"] {
    font-size: clamp(14px, 2vw, 28px);
    font-weight: 500;
}

nav ul a{
    font-size: clamp(12px, 1.5vw, 20px);
    font-weight: 500;
}

header a[href="login.html"] {
    font-size: clamp(12px, 1.5vw, 20px);
    font-weight: 500;
}

@media (max-width: 425px) {
    nav {
        gap: 16px
    }
    nav ul{
        gap: 8px;
    }
}